@font-face{
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf")
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(47, 88%, 63%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Figtree", sans-serif;
}
.card {
background-color: white;
width: 350px;
padding: 24px;
border-radius: 20px;
border: 1px solid black;
box-shadow: 8px 8px 0 black;
}
.card-image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.attribution{
    display:none;
}
.author-info img{
    width: 35px;
    border-radius: 50%;
}
.tag{
    background-color: hsl(47, 88%, 63% );
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
}
.date{
    margin-top: 12px;
    font-weight:500;
    font-size: 14px;
    margin-bottom: 15px;
    color: hsl(0, 0%, 7%);
}
h1{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;
    cursor: pointer;
}
h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.author-info{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}
.description{
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 20px;
}
.author{
    font-weight: 800;
}